@page
@model IndexModel
@using TFApp_library
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h2 class="mb-4">1. まず初めにユーザー情報を入力してください</h2>
    <a class="btn btn-outline-primary w-25 mb-4" asp-page="./Register">ユーザー情報を入力</a>
    <h2 class="mb-4">2. ユーザー入力が終わったら天気を確認しましょう</h2>
    <a class="btn btn-outline-primary w-25 mb-4" asp-page="./Weather">天気をお知らせ</a>
    
    <hr />

    <p>@Model.Message</p>
</div>